{% extends "personal/header.html" %}

{% block content %}
<p>The purpose of this website is to give me some experience using Python and Django that I have initially learnt from the Codecademy website.</p>
<p>It is also a way of gaining experience of starting a web site from scratch and have it running on the internet.</p>
<p>The Wildlife photograph app enables me to manage and search through the images I take using my iPad.</p>

<!--
{% include 'personal/includes/htmlsnippet.html' %}
-->
{% endblock %}